//设置scss全局变量
//左侧菜单宽度
$base-menu-width: 270px;
//左侧菜单颜色
$base-menu-color: #001529;
//顶部导航高度
$base-tubbar-height: 50px;

// 左侧菜单 logo 高度设置
$base-menu-logo-height: 50px;

// 左侧菜单 logo 右侧文字大小
$base-logo-title-fontSize: 20px;